.logo{
	margin-top:10%;
	width:115%;
}
h1{
	font-size:4rem;
}
.feature-row{
	margin-left:10%;
	margin-right: 10%;
}
.text{
	font-size:1.1rem;
}
.text>p{
	font-size:1.1rem;
	line-height: 1.5rem;
	font-weight: 500;
	color:#111;
}