.svg-icon {
    padding-bottom: 0.1em;
    padding-top: 0.1em;
    padding-right: 0.1em;
    padding-left: 0.1em;
}


.social-button {
    font-family: Avenir Next W01, Avenir Next, Avenir, helvetica, arial, sans-serif!important;
    font-weight: bold!important;
    text-transform: none!important;
    border-radius: 0.2em!important;
    justify-content: start!important;
    font-size: 1.5em!important;
}

.googleButton {
    color: white!important;
    background-color: #db3236!important;
    margin-bottom: 10px!important;
}

.googleButton:disabled,googleButton[disabled] {
        color: #817d7d9d!important;
        background-color: #dddddd!important;
}

googleButton:hover {
    background-color: green!important;
}
