textarea{
	border: 0.25em solid #eee;
	background: none;
	color: white;
    border-color: rgba(255,255,255,0.2);
	border-radius: 10px;
	width: -webkit-fill-available;
	height:115px;
	margin: 2.5%;
	margin-right: 2.5%;
	font-size: 1.125em;
    line-height: 1.5;
    font-family: "Avenir Next W01", "Avenir Next", "Avenir", helvetica, arial, sans-serif;
    font-weight: 700;
    padding: 1em;
}
.totalChars{
	text-align:right;
}
.card{
	height: auto;
	background-color: rgb(51,51,51)!important;
}
.card-footer{
	background: rgba(0,0,0,0.2);
	color:white;
}
.inline{
	display: inline-flex;
}
.text-inline{
	margin-right: 5px;
}