.AUTOAPPLET-logo {
    margin-left: 10em;
    margin-right: 2.5em;
}

.auth-buttons {
    margin-left: auto;
    margin-right: 10em;
}


.profile-icon {
    margin-left: auto;
    margin-right: 10em;
}

.logo-title {
    font-family: 'Kanit', sans-serif;
    font-weight: 800;
    font-size: 1.1em;
}

@media screen and (max-width: 1025px) {
    .AUTOAPPLET-logo {
        margin-left: 0;
        font-size: 10px;
        size: 1em;
    }
    .auth-buttons {
        margin-right: 0;
    }
    .profile-icon{
        margin-right: 0;
        margin-left: auto;
        padding-left: 0;
    }
  }
  

a {
text-decoration: none;
outline: none;
}

a:active {
	opacity: 0.5
}

span {
    text-decoration: none;
}


.useremail-button-text {
    margin-left: 10px;
    font-size: 18px;
}


.navLinkActiveStyle {
    font-weight: 'bold';
    opacity: 0.5
}

.navLink {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-style: normal;
    margin-right: 0.6em;
}
