.button-applet-card .card {
	height: 350px;
	background-color: rgb(51, 51, 51) !important;
	width: 350px;
	margin-top: 5%;
	border-radius: 10%;
	margin-left: auto;
	margin-right: auto;
}
.button-applet-card {
	margin-left: auto;
}
.white-text {
	height: fill-available;
}
.card-content-title {
	margin-top: 10%;
}
.button-area {
	text-align: center;
	position: relative;
}
.button-area button {
	color: white !important;
	font-size: 20px;
}
.send-text {
	padding-right: 3px;
}
.button-applet .text p {
	color: white;
}
select {
	display: block;
	margin: 0 auto;
	margin-top: 10%;
	width: 265px;
	height: 30px;
}
